@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,900&display=swap');
@import url(root.css);
.btn-1 {
    font-size: var(--fs-16);
    /*background-image: -moz-linear-gradient(90deg, rgb(253, 116, 61) 0%, rgb(254, 179, 78) 100%);*/
    /*background-image: -webkit-linear-gradient(90deg, rgb(253, 116, 61) 0%, rgb(254, 179, 78) 100%);*/
    /*background-image: -ms-linear-gradient(90deg, rgb(253, 116, 61) 0%, rgb(254, 179, 78) 100%);*/
    background-image: -moz-linear-gradient(90deg, rgb(255,17,21) 0%, rgb(253,135,2) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(255,17,21) 0%, rgb(253,135,2)  100%);
    background-image: -ms-linear-gradient(90deg, rgb(255,17,21) 0%, rgb(253,135,2)  100%);
    border: 0;
    padding: 12px 30px;
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;
}

.btn-1:hover {
    background: var(--gradient-hover);
    color: inherit;
}

.btn-2 {
    font-size: var(--fs-16);
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 0px 30px;
    text-decoration: none;
    color: #fff !important;
    transition: ease 1s all;
    display: flex;
    align-items: center;
}

.btn-2:hover {
    background: var(--gradient);
    transition: ease 1s all;
}

.color_dard_grey {
    color: var(--color-dark-grey);
}

.color-orange {
    color: var(--color-orange);
}

.color-grey {
    color: var(--color-grey);
}

.width-50 {
    width: 50%;
}